{% extends 'base.html.twig' %}

{% block title %}Wild Circus - Gallery{% endblock %}

{% block body %}
    <table>
    <tr><h1 class="mx-5 my-5">Photo Gallery</h1></tr>
    <td>
        <img src="https://cdn.pixabay.com/photo/2016/02/24/08/31/girl-1219339_1280.jpg" alt="" class="responsive">
    </td>
    <td>
        <img src="https://cdn.pixabay.com/photo/2017/11/24/10/43/admission-2974645_1280.jpg" alt="" class="responsive">
    </td>
    <td>
        <img src="https://cdn.pixabay.com/photo/2013/02/05/13/53/acrobats-78047_1280.jpg" alt="" class="responsive">
    </td>
    <tr>
        <td>
        <img src="https://cdn.pixabay.com/photo/2018/02/11/21/39/weightlifter-3146825_1280.jpg" alt="" class="responsive">
        </td>
        <td>
        <img src= "https://cdn.pixabay.com/photo/2015/03/17/15/54/circus-677962_1280.jpg" alt="" class="responsive">
        </td>
        <td>
        <img src="https://cdn.pixabay.com/photo/2015/07/02/10/16/circus-828680_1280.jpg" alt="" class="responsive">
        </td>
    </tr>
    </table>

    <a href="{{ path('home') }}" class="mx-5 back-link">
      Back to homepage
    </a>

{% endblock %}