{% extends 'base.html.twig' %}

{% block title %}Wild Circus - Welcome{% endblock %}

{% block body %}
    <div class="home-img"><img src="images/circus-home.png" style="no-repeat; width: 100%;"></div>

    <div class="container">
        <div class="row">

            <!-- Card LAUGH -->
            <div class="col-4 my-5">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <!-- Card Recto -->
                        <div class="flip-card-front">
                        <img src="images/laugh.jpg" alt="laugh" style="width:300px;height:300px;">
                        </div>
                        <!-- End Card Recto -->
                        <!-- Card Verso -->
                        <div class="flip-card-back px-4 pt-5">
                        <h1 class="h1-card">LAUGH</h1>
                        <br>
                        <p>As an adult, come and discover our irresistible clowns, between practical jokes and pranks
                        let yourself be carried away by their joy and fall back into childhood.</p>
                        </div>
                        <!-- End Card Verso -->
                    </div>
                </div>
            </div>
            <!-- End Card LAUGH -->

            <!-- Card DREAM -->
            <div class="col-4 my-5">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <!-- Card Recto -->
                        <div class="flip-card-front">
                        <img src="images/dream.jpg" alt="laugh" style="width:300px;height:300px;">
                        </div>
                        <!-- End Card Recto -->
                        <!-- Card Verso -->
                        <div class="flip-card-back px-4 pt-4">
                        <h1 class="h1-card">DREAM</h1>
                        <br>
                        <p>Let yourself be carried away in a world where the real and the imaginary are one, in the company
                        of our talented magicians, discover a wonderful world limited only by your imagination.</p>
                        </div>
                        <!-- End Card Verso -->
                    </div>
                </div>
            </div>
            <!-- End Card DREAM -->

            <!-- Card MARVEL AT -->
            <div class="col-4 my-5">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <!-- Card Recto -->
                        <div class="flip-card-front">
                        <img src="images/marvel.jpg" alt="laugh" style="width:300px;height:300px;">
                        </div>
                        <!-- End Card Recto -->
                        <!-- Card Verso -->
                        <div class="flip-card-back px-4 pt-5">
                        <h1 class="h1-card">MARVEL AT</h1>
                        <br>
                        <p>Tame the untameable in the company of our tamers, between roar and razor-sharp claws,
                        watch these fierce felines turn into sweet kittens.</p>
                        </div>
                        <!-- End Card Verso -->
                    </div>
                </div>
            </div>
            <!-- End Card MARVEL AT -->

        </div>
    </div>

{% endblock %}