{% extends 'base.html.twig' %}

{% block title %}Wild Circus - Bienvenue{% endblock %}

{% block body %}
    <div class="home-img"><img src="images/circus-home.jpg" style="no-repeat; width: 100%;"></div>
{% endblock %}